<ion-view title="About Us">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>Who are we?</h3>
        <ul>
            <li><b>Marcin Kononiuk</b>, Developer (Immedio Ltd, Sainsbury's)</li>
            <li><b>Ida Rolek</b>, Developer (Immedio Ltd, Thomson Reuters)</li>
            <li><b>Mark Newman</b>, PM (BBC)</li>
            <li><b>Szymon Kostro</b>, Tester (Ikea)</li>
        </ul>
        <h3>What did we use?</h3>
        <ul>
            <li>AWS API, DynamoDB, Lambda</li>
            <li>Realex Payments</li>
            <li>Verido Identity Verification</li>
            <li>Ionic: for iPhone, Android and other devices</li>
        </ul>
        <h3>Thank you!</h3>
    </ion-content>
</ion-view>