<ion-view title="Almost there">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <h3>Yacht</h3>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <a ui-sref="menu.rentConfirmation" id="almostThere-button9" class="button button-balanced  button-block">Rent!</a>
        </form>
    </ion-content>
</ion-view>