<ion-view title="Search">
    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button" ng-click="goTo('exit')">-->
    <!--Exit-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content overflow-scroll="true" padding="true" class="has-header page-search">
        <div style="display: table; width: 100%; height: 100%">
            <div style="display: table-row">
                <div style="display: table-cell; vertical-align: middle">
                    Shit got real!
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>