<ion-view title="Item added">
    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button" ng-click="goTo('exit')">-->
    <!--Exit-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->
    <ion-content overflow-scroll="true" padding="true" class="has-header page-search">
        <div style="display: table; width: 100%; height: 100%">
            <div style="display: table-row">
                <div style="display: table-cell; vertical-align: middle" class="cell-image">
                    <h3>Good one!</h3>

                    <h4>You've got your item listed.</h4>

                    <p>Now sit back and wait for someone to borrow it.</p>
                    <a href="#/side-menu21/create_product_item" class="button button-balanced" style="margin-bottom: 12px">Add another item</a>
                    <a href="#/side-menu21/search" class="button button-royal button-outline">Search an item</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>