<ion-view title="">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list results-list" style="margin-bottom: 8px">
            <img ng-src="{{selectedProduct['0'].images[0].src}}" ng-click="openModal()" style="width: 100%; text-align: center">
            <a class="item ng-click="goToProfile(item.ownerId)">
                <!--<img ng-src="{{selectedProduct['0'].images[0].src}}" ng-click="openModal()">-->

                <h2>{{selectedProduct['0'].name}}</h2>
                <!--<p>{{item.description}}</p>-->
                <!--<rating ng-model="selectedProduct['0'].rating" max="10" readonly="readOnly"></rating>-->
                <p class="list-location" style="position:static">{{selectedProduct['0'].postCode}}, {{selectedProduct['0'].city}}, {{selectedProduct['0'].countryCode}}</p>
                <!--<span class="list-price">{{selectedProduct['0'].priceDay * numberOfDays}}<br /><span class="under-text">overall price</span></span>-->
            </a>
            <!--<a class="button" ng-click="openModal()">Show all photos</a>-->
            <div class="item item-text-wrap">Renting for {{numberOfDays}} day(s) for total £{{selectedProduct['0'].priceDay * numberOfDays | number : 2}}</div>
            <!--<br />-->
            <!--<div class="item item-text-wrap">{{selectedProduct['0'].description}}</div>-->

        </div>
        <!--<div class="bar bar-footer">-->
            <button class="button button-balanced button-full" id="myPaymentButton">Confirm</button>
        <!--</div>-->
        <!--<form class="list">-->
            <!--<label class="item item-input" name="card_name">-->
                <!--<span class="input-label">Name:</span>-->
                <!--<input type="text" placeholder="Name on your card">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Card no.:</span>-->
                <!--<input type="number" placeholder="Card number">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">Valid until:</span>-->
                <!--<input type="date" placeholder="Date">-->
            <!--</label>-->
            <!--<label class="item item-input">-->
                <!--<span class="input-label">CVV</span>-->
                <!--<input type="number" placeholder="CVV">-->
            <!--</label>-->
            <!--<a ui-sref="menu.almostThere" id="payment-button8" class="button button-balanced  button-block">Confirm</a>-->
        <!--</form>-->
    </ion-content>
</ion-view>