<ion-view title="Payment">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="card_name">
                <span class="input-label">Name:</span>
                <input type="text" placeholder="Name on your card">
            </label>
            <label class="item item-input">
                <span class="input-label">Card no.:</span>
                <input type="number" placeholder="Card number">
            </label>
            <label class="item item-input">
                <span class="input-label">Valid until:</span>
                <input type="date" placeholder="Date">
            </label>
            <label class="item item-input">
                <span class="input-label">CVV</span>
                <input type="number" placeholder="CVV">
            </label>
            <a ui-sref="menu.almostThere" id="payment-button8" class="button button-balanced  button-block">Confirm</a>
        </form>
    </ion-content>
</ion-view>