<ion-view title="Add Item">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="saveItem()" name="addForm">
            <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <label class="item item-input" name="product_name">
                <span class="input-label">Item name:</span>
                <input type="text" placeholder="" ng-model="item.name" required>
            </label>

            <label class="item item-select" name="product_category">
                <span class="input-label">Category</span>
                    <select ng-model="item.categoryName"  required>
                        <option ng-value="item" ng-repeat="item in item.categoryName">{{item}}</option>
                    </select>
            </label>
            <label class="item" name="product_description">
                <span class="input-label">Description</span>
                <textarea ng-model="item.description" style="width: 100%; height: 200px;"  required></textarea>
            </label>
            <label class="item item-input" name="product_priceHour">
                <span class="input-label">Hour price</span>
                £<input ng-model="item.priceHour" type="number"/>
            </label>
            <label class="item item-input" name="product_priceDay">
                <span class="input-label">Day price</span>
                £<input ng-model="item.priceDay" type="number"/>
            </label>
            <label class="item item-input" name="product_priceWeek">
                <span class="input-label">Week price</span>
                £<input ng-model="item.priceWeek" type="number"/>
            </label>
            <label class="item item-input" name="product_priceMonth">
                <span class="input-label">Month price</span>
                £<input ng-model="item.priceMonth" type="number"/>
            </label>
            <label class="item item-input" name="product_name">
                <input type="text" g-places-autocomplete ng-model="item.location" placeholder="Enter an address, Apt# and ZIP"   required/>
            </label>
            <input type="text" ng-init="item.created = date" ng-model="item.created" style="height: 0"/>
            <input type="text" ng-init="item.ownerId = ownId" ng-model="item.ownerId" style="height: 0; "/>
            <input type="text" ng-init="item.id = id" ng-model="item.id" style="height: 0; "/>
            <!--<div style="margin-right:-20px;">-->
                <!--<a ui-sref="menu.paymentDetails" id="product-button5" style="margin-left:-10px;" class="button button-balanced  button-full"-->
                        <!--ng-click="submit(item)">Rent</a>-->
            <!--</div>-->
            <button type="submit" class="button button-balanced button-full" ng-disabled="addForm.$invalid">Rent it!</button>
        </form>
    </ion-content>
</ion-view>