<ion-view title="Add Item">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">asd
            <div style="line-height: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(238, 238, 238); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <label class="item item-input" name="product_name">
                <span class="input-label">Item name:</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" name="product_category">
                <span class="input-label">Category</span>
                <select>
                    <option ng-repeat=""></option>
                </select>
            </label>
            <div style="margin-right:-20px;">
                <a ui-sref="menu.paymentDetails" id="product-button5" style="margin-left:-10px;" class="button button-balanced  button-full">Rent</a>
            </div>
        </form>
    </ion-content>
</ion-view>