<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <button id="settings-button4" class="button button-assertive  button-block">Cancel</button>
            <div style="margin-right:-20px;">
                <button id="settings-button3" style="margin-left:-10px;font-weight:bold;" class="button button-balanced  button-full">Save</button>
            </div>
        </form>
    </ion-content>
</ion-view>